{% extends 'layout.html' %}
{% block content %}

<header class="row bg-black">
	<div class="col-md-4 p-3">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIQO2jk4xNxWv3Z4ZlDnr-rCT5fsp0JWxTUJ2OM5Nwzonr8fboi9bsHNkp3FbChwUrXjo&usqp=CAU" alt="IconSantiago" style="width: 310px;">
	</div> 
	<div class="col-md-8 my-auto p-4" style="color: #fff">
		<h2>I'm <strong>Santiago</strong></h2>
		<p>Hola, soy Santiago un apasionado del desarrollo de software, y este es mi blog, un espacio en el cual voy a mostrar mi progreso mientras creo software. Muy probablemente en algún blog hable sobre la revolución cientifica, etc. Mi sueño para este año es lograr una pasantia en MercadoLibre y conocer a Marcos Galperin (CEO de MercadoLibre).</p>
       <a href="/blog" class="btn btn-primary btn-lg rounder-0 my-3">View my blog</a>
	</div>
</header>

{% endblock %}