{% extends 'layout.html' %}
{% block content %}

<header class="row bg-black">
	<div class="col-md-4">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1Mf7o-MHJDTlIcpcRf2gx5iQxJrABYahI3w&usqp=CAU" alt="IconSantiago">
	</div> 
	<div class="col-md-8 my-auto p-4" style="color: #fff">
		<h2>I'm <strong>Santiago</strong></h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis t$
       soluta mollitia ratione, fuga praesentium, reiciendis minima! Facere, $
       vero vitae, cumque tenetur at, impedit provident dicta laudantium quia$
       laborum voluptatibus libero doloribus? Pariatur voluptatem obcaecati d$
       rerum reprehenderit minima, earum impedit saepe eos ducimus fugit itaq$
       blanditiis? Eius ipsum quidem enim architecto fugiat porro inventore l$
       exercitationem nemo soluta, culpa impedit est et doloribus ut necessit$
       placeat.</p>
       <a href="/blog" class="btn btn-primary btn-lg rounder-0 my-3">View my blog</a>
	</div>
</header>

{% endblock %}